header{
 backgroud 

} 
display: ; inline;
 margin: 0 0 0 15px;
hav{
 text-transform: uppercase;
 color:black;
}
{ 
  position-absolut
  top: 110px;
   
}
{
   font-size: 12px;
  font-optical-sizing:bold;
  fePointLight::cue;

  

}
.caixa{
  
position: relative;
width: 940;

}