/* Configura o fundo cinza claro e o texto centralizado na página */
body {
    background: #CCCCCC;
    text-align: center;
}

/* Ajusta o banner para ocupar 100% da largura da tela */
#banner {
    width: 100%;
}

/* Destaca o texto da missão se quiser deixá-lo um pouco maior */
#missao {
    font-size: 20px;
}
